.artist-page {
    display: flex;
    height: 175px;
    margin-bottom: 1rem;
}

.artist-page-img {
    flex-basis: calc(25% - 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px; 
}

.artist-page-img img {
    max-height: 145px; /*USAR 100% CUANDO LA IMG MANTENGA ASPECT RATIO */ 
    border: 1px;
    border-radius: 5px;
    box-shadow: 5px 5px #00000047;
    object-fit: contain;
}

.artist-page-label {
    flex-basis: calc(75% - 0px); 
    margin: 15px;    
}

.artist-page-label h1 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.artist-page-label h2 {
    font-size: 1rem;
}





/* Results CSS */ 

.results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.albums-artists {
    flex-basis: calc(50% - 5px);
    max-width: calc(50% - 5px);
    display: flex;
    align-items: center;
    height: 85px;
    max-height: 85px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 10px;
    border-radius: 5px;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

.albums-artists:nth-child(even) {
    margin-left: 5px;
}

.albums-artists:nth-child(odd) {
    margin-right: 5px;
}

li:nth-last-child(-n+2) {
    margin-bottom: 0px;
}

.albums-artists:hover {
    transition: all 0.2s;
    background-color: rgba(0,0,0,0.1);
}

.albums-artists .image-artists {
    flex-basis: 60px;
}

.albums-artists .image-artists img{
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.2);
}

.albums-artists .label-artists {
    flex-basis: calc(100% - 70px);
    max-width: calc(100% - 70px);
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.albums-artists .label-artists span {
    overflow: hidden;
    text-overflow: ellipsis;
}